body {
    margin: 40px;
    background-color: beige;
}

#container {
    width: 640px;
    height: 640px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
}

button {
    margin-bottom: 20px;
    height: 40px;
    font-size: 18px;
    margin-right: 20px;
    font-weight: 700;
    border: 1px solid black;
    border-radius: 10px;
}

.square {
    box-sizing: border-box;
}