body {
    margin: 40px;
}

#container {
    width: 640px;
    height: 640px;
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
}

button {
    margin-bottom: 20px;
    height: 40px;
    font-size: 18px;
    margin-right: 20px;
}

.square {
/*    border: 1px solid black; */
    box-sizing: border-box;
}